@import url("https://fonts.googleapis.com/css?family=Orbitron");

body {
	font-family: Sans-serif;
	background: linear-gradient(45deg, #222529 0%, #191519 100%);
}

body:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-width: 72px 72px 72px 72px;
	border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.2) transparent rgba(0, 0, 0, 0.2);
}

.text {
	color: #36ba2c;
	font-size: 24px;
	padding: 0 4px;
	display: inline-block;
	text-shadow: 0px 0px 8px #79ba48;
}

.container {
	background: #222;
	background: radial-gradient(ellipse at center, #2e3d26 0%, #040805 100%);
	background-attachment: fixed;
	position: absolute;
	top: 64px;
	left: 64px;
	right: 64px;
	bottom: 64px;
	padding: 64px;
	border-radius: 24px;
	overflow: hidden;
}

.container:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.container:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	box-shadow: inset 0px 0px 32px 16px rgba(0, 0, 0, 0.4);
	z-index: 2;
	border-radius: 24px;
}

.inner-container:after {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(http://i.imgur.com/VXcVUTX.png);
	border-radius: 24px;
}

.err-code {
	font-family: 'Orbitron';
	font-weight: bold;
	font-size: 128px;
	padding: 0 4px;
}

.buzz {
	color: #36ba2c;
	position: relative;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	45% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.blip {
	animation: blink 1.5s steps(5, start) infinite;
}

@keyframes noise-anim {
	0% {
		clip: rect(26px, 9999px, 15px, 0);
	}

	3.33333% {
		clip: rect(91px, 9999px, 18px, 0);
	}

	6.66667% {
		clip: rect(85px, 9999px, 52px, 0);
	}

	10% {
		clip: rect(19px, 9999px, 105px, 0);
	}

	13.33333% {
		clip: rect(35px, 9999px, 34px, 0);
	}

	16.66667% {
		clip: rect(1px, 9999px, 5px, 0);
	}

	20% {
		clip: rect(71px, 9999px, 5px, 0);
	}

	23.33333% {
		clip: rect(66px, 9999px, 156px, 0);
	}

	26.66667% {
		clip: rect(17px, 9999px, 24px, 0);
	}

	30% {
		clip: rect(2px, 9999px, 180px, 0);
	}

	33.33333% {
		clip: rect(97px, 9999px, 188px, 0);
	}

	36.66667% {
		clip: rect(90px, 9999px, 122px, 0);
	}

	40% {
		clip: rect(12px, 9999px, 143px, 0);
	}

	43.33333% {
		clip: rect(66px, 9999px, 163px, 0);
	}

	46.66667% {
		clip: rect(87px, 9999px, 145px, 0);
	}

	50% {
		clip: rect(39px, 9999px, 157px, 0);
	}

	53.33333% {
		clip: rect(93px, 9999px, 83px, 0);
	}

	56.66667% {
		clip: rect(4px, 9999px, 128px, 0);
	}

	60% {
		clip: rect(78px, 9999px, 31px, 0);
	}

	63.33333% {
		clip: rect(16px, 9999px, 185px, 0);
	}

	66.66667% {
		clip: rect(71px, 9999px, 39px, 0);
	}

	70% {
		clip: rect(99px, 9999px, 71px, 0);
	}

	73.33333% {
		clip: rect(2px, 9999px, 53px, 0);
	}

	76.66667% {
		clip: rect(78px, 9999px, 12px, 0);
	}

	80% {
		clip: rect(69px, 9999px, 85px, 0);
	}

	83.33333% {
		clip: rect(63px, 9999px, 85px, 0);
	}

	86.66667% {
		clip: rect(72px, 9999px, 53px, 0);
	}

	90% {
		clip: rect(96px, 9999px, 52px, 0);
	}

	93.33333% {
		clip: rect(63px, 9999px, 68px, 0);
	}

	96.66667% {
		clip: rect(35px, 9999px, 143px, 0);
	}

	100% {
		clip: rect(43px, 9999px, 25px, 0);
	}
}

.buzz:after {
	content: attr(data-text);
	position: absolute;
	left: 4px;
	top: 0;
	background: radial-gradient(ellipse at center, #2e3d26 0%, #040805 100%);
	background-attachment: fixed;
	animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	0% {
		clip: rect(77px, 9999px, 21px, 0);
	}

	3.33333% {
		clip: rect(88px, 9999px, 31px, 0);
	}

	6.66667% {
		clip: rect(66px, 9999px, 105px, 0);
	}

	10% {
		clip: rect(85px, 9999px, 14px, 0);
	}

	13.33333% {
		clip: rect(87px, 9999px, 34px, 0);
	}

	16.66667% {
		clip: rect(64px, 9999px, 22px, 0);
	}

	20% {
		clip: rect(28px, 9999px, 64px, 0);
	}

	23.33333% {
		clip: rect(25px, 9999px, 16px, 0);
	}

	26.66667% {
		clip: rect(61px, 9999px, 14px, 0);
	}

	30% {
		clip: rect(60px, 9999px, 111px, 0);
	}

	33.33333% {
		clip: rect(19px, 9999px, 90px, 0);
	}

	36.66667% {
		clip: rect(12px, 9999px, 86px, 0);
	}

	40% {
		clip: rect(82px, 9999px, 81px, 0);
	}

	43.33333% {
		clip: rect(26px, 9999px, 20px, 0);
	}

	46.66667% {
		clip: rect(90px, 9999px, 4px, 0);
	}

	50% {
		clip: rect(32px, 9999px, 74px, 0);
	}

	53.33333% {
		clip: rect(53px, 9999px, 102px, 0);
	}

	56.66667% {
		clip: rect(87px, 9999px, 121px, 0);
	}

	60% {
		clip: rect(68px, 9999px, 118px, 0);
	}

	63.33333% {
		clip: rect(58px, 9999px, 134px, 0);
	}

	66.66667% {
		clip: rect(56px, 9999px, 67px, 0);
	}

	70% {
		clip: rect(52px, 9999px, 134px, 0);
	}

	73.33333% {
		clip: rect(12px, 9999px, 21px, 0);
	}

	76.66667% {
		clip: rect(62px, 9999px, 96px, 0);
	}

	80% {
		clip: rect(85px, 9999px, 43px, 0);
	}

	83.33333% {
		clip: rect(69px, 9999px, 35px, 0);
	}

	86.66667% {
		clip: rect(20px, 9999px, 69px, 0);
	}

	90% {
		clip: rect(3px, 9999px, 29px, 0);
	}

	93.33333% {
		clip: rect(31px, 9999px, 59px, 0);
	}

	96.66667% {
		clip: rect(57px, 9999px, 93px, 0);
	}

	100% {
		clip: rect(25px, 9999px, 69px, 0);
	}
}

.buzz:before {
	content: attr(data-text);
	position: absolute;
	left: -3px;
	top: 0;
	padding: 0 4px;
	background: radial-gradient(ellipse at center, #2e3d26 0%, #040805 100%);
	background-attachment: fixed;
	animation: noise-anim-2 3s infinite linear alternate-reverse;
}